<section id="paging" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Users</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <!-- <div class="card-header">
                  <div class="card-title-wrap bar-info">
                    <h4 class="card-title">Table Paging</h4>
                  </div>
                </div> -->
                <div class="card-body">
                    <div class="card-block">
                    	<table class="table table-responsive-md text-center">
                    		<thead>
                    			<tr>
                    				<th>First Name</th>
                    				<th>Last Name</th>
                    				<th>Email</th>
                    				<th>Role</th>
                    				<th>Actions</th>
                    			</tr>
                       		</thead>
                       		<tbody>
                       			<tr *ngFor="let user of dataSource | paginate: { itemsPerPage: 5, currentPage: p }">
                       				<td>{{user.FirstName}}</td>
                       				<td>{{user.LastName}}</td>
                       				<td>{{user.email}}</td>
                       				<td>{{user.role}}</td>
                       				<td>
                       					<a class="success p-0" data-original-title="" title="" (click)="edituser(user.id)">
                                            <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                        </a>
                                        <a class="danger p-0" data-original-title="" title="" (click)="deleteuser(user.id)">
                                            <i class="fas fa-trash font-medium-3 mr-2"></i>
                                        </a>
                                    </td>
                       			</tr>
                       		</tbody>
                    	</table>
                        <div class="col-12 paginationonAction">
                            <span class="total">{{collectionSize}} Total</span>
                            <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="5" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
