<div class="row">
	<!--Tabset Starts-->
	<div class="col-md-12 col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="card-block">
					<ngb-tabset>
						<ngb-tab title="Overview">
							<ng-template ngbTabContent>
								<div class="row">
									<div class="col-xl-4 col-lg-6 col-12">
										<div class="card">
											<div class="card-body">
												<div class="px-3 py-3">
													<div class="media">
														<div class="media-body text-left align-self-center">
															<i class="icon-envelope-open info font-large-2 float-left"></i>
														</div>
														<div class="media-body text-right">
															<h3>{{openCount}}</h3>
															<span>Opened</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-12">
										<div class="card">
											<div class="card-body">
												<div class="px-3 py-3">
													<div class="media">
														<div class="media-body text-left align-self-center">
															<i class="icon-link warning font-large-2 float-left"></i>
														</div>
														<div class="media-body text-right">
															<h3>{{clickCount}}</h3>
															<span>Clicked</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-12">
										<div class="card">
											<div class="card-body">
												<div class="px-3 py-3">
													<div class="media">
														<div class="media-body text-left align-self-center">
															<i class="icon-envelope success font-large-2 float-left"></i>
														</div>
														<div class="media-body text-right">
															<h3>{{totalSent - openCount}}</h3>
															<span>Unopened</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
										<div class="col-xl-6 col-lg-12 col-sm-12">
											<div class="card">
												<div class="card-header pb-0">
														<div class="card-title-wrap bar-primary">
																<h4 class="card-title">Report Detail</h4>
														</div>
												</div>
												<div class="card-body">
													<div class="card-block">
														<br/><br/>
														<b>Subject</b>: {{subject}}<br/>
														<b>Lists</b>: {{list}}<br/>
														<b>Total Recipients</b>: {{totalSent}}<br/><br/>
													</div>
												</div>
														<!-- <div class="col col-sm-6">
																		<div class="card mb-3">
																				<div class="card-header">
																						<b>Message</b>
																				</div>
																				<div class="card-body">
																						<div class="row">
																							<div class="col-xl-6 col-lg-6 col-sm-12">
																										<div id="messageTemplate" style="height: 150px;overflow-y: scroll;overflow-x: hidden;" disabled="true"></div>
																								</div>
																						</div>
																				</div>
																		</div>
																</div> -->
													</div>
											</div>

										<div class="col-xl-6 col-lg-12">
												<div class="card">
														<div class="card-header pb-0">
																<div class="card-title-wrap bar-primary">
																		<h4 class="card-title">Sends <span class="smallContent">Last sent on </span></h4>
																</div>
														</div>
														<div class="card-body">
																<div class="card-block">
																		<!-- <div class="chart-info mb-2">
																				<span class="text-uppercase mr-3">
																						<i class="fa fa-circle primary font-small-2 mr-1"></i> Users</span>
																				<span class="text-uppercase">
																						<i class="fa fa-circle warning font-small-2 mr-1"></i> Progress</span>
																		</div> -->
																		<div class="row">
														<div class="col-lg-6 col-12">
															<div class="card">
																<div class="card-body">
																	<div class="media align-items-stretch">
																		<div class="p-2 text-center bg-info rounded-left pt-3">
																			<i class="icon-camera font-large-2 text-white"></i>
																		</div>
																		<div class="p-2 media-body">
																			<h6>Delivered</h6>
																			<h5 class="text-bold-400 mb-0">{{totalSentPerc}}%</h5>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-lg-6 col-12">
															<div class="card">
																<div class="card-body">
																	<div class="media align-items-stretch">
																		<div class="p-2 text-center bg-info rounded-left pt-3">
																			<i class="icon-camera font-large-2 text-white"></i>
																		</div>
																		<div class="p-2 media-body">
																			<h6>Bounced</h6>
																			<h5 class="text-bold-400 mb-0">{{notSentPerc}}%</h5>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
																		<!-- <div id="line-chart2" class="height-350 lineChart2 lineChart2Shadow">
																				<x-chartist class="" [data]="lineChart2.data" [type]="lineChart2.type" [options]="lineChart2.options" [responsiveOptions]="lineChart2.responsiveOptions"
																						[events]="lineChart2.events">
																				</x-chartist>
																		</div> -->
																</div>
														</div>
												</div>
										</div>
								</div>

								<div class="row">
									<div class="col-xl-12 col-lg-12">
												<div class="card">
														<div class="card-header">
																<div class="card-title-wrap bar-warning">
																		<h4 class="card-title mb-0">Sales Analysis</h4>
																</div>
														</div>
														<div class="card-body">
																<div class="card-block">
																		<div id="line-area6" class="height-350 lineArea6 lineArea6Shadow">
																				<!-- <x-chartist [data]="lineArea6.data" [type]="lineArea6.type" [options]="lineArea6.options" [responsiveOptions]="lineArea6.responsiveOptions"
																						[events]="lineArea6.events">
																				</x-chartist> -->
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab title="Mail Client">
							<ng-template ngbTabContent>
								Mail Clients
							</ng-template>
						</ngb-tab>
						<ngb-tab title="Link">
							<ng-template ngbTabContent>
								<div class="card">
					        <div class="card-header">
					          <div class="card-title-wrap bar-primary">
					            <h4 class="card-title">Links</h4>
					          </div>
					        </div>
					        <div class="card-body">
					          <div class="card-block">
											<table class="table">
												<tbody>
													<tr *ngFor="let link of links">
	                            <td>
	                                {{link.link}}
	                            </td>
	                            <td style="width: 100%;" *ngIf="(link.clickCount - link.openCount) != 0">
																<ngb-progressbar type="info" [value]="(link.clickCount / link.openCount) * 100" [striped]="true" class="progress-bar-md"></ngb-progressbar> {{(link.clickCount / link.openCount) * 100 | number : '1.2'}} % ({{link.clickCount}}/{{link.openCount}})
	                            </td>
	                            <td style="width: 100%;" *ngIf="(link.clickCount - link.openCount) == 0">
																<ngb-progressbar type="success" [value]="100" [striped]="true" class="progress-bar-md"></ngb-progressbar> 100 % ({{link.clickCount}}/{{link.openCount}})
	                            </td>
	                        </tr>
												</tbody>
                    	</table>
										</div>
									</div>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab title="Domain">
							<ng-template ngbTabContent>
								<div class="card">
									<div class="card-header">
										<div class="card-title-wrap bar-primary">
											<h4 class="card-title">Domains</h4>
										</div>
									</div>
									<div class="card-body">
										<div class="card-block">
											<table class="table">
												<tbody>
													<tr *ngFor="let domain of domains">
															<td>
																	{{domain.domains}}
															</td>
															<td style="width: 100%;">
																<ngb-progressbar type="success" [value]="(domain.count / domain.count) * 100" [striped]="true" class="progress-bar-md"></ngb-progressbar> {{(domain.count / domain.count) * 100}} %
															</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
			</div>
		</div>
	</div>
	<!--Tabset Ends-->
</div>
